// --bg-color: #e9f3f4;
// --bg-color: #edf1f1;
// --bg-color: #f0f1f1;
$grey-bg: #eff5f5;
$highlight-color: #b23283;
$highlight-color: #ff1896;

$break-md: 1260px;
$break-featured: 960px;

@font-face {
  font-family: 'HyperPunchPink';
  src: url('./fonts/HyperPunchPink.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Porceleina';
  src: url('./fonts/porceleina.otf');
}

@font-face {
  font-family: 'Sorreda Pro';
  src: url('./fonts/Sorreda_Pro.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
}

body {
	font-family: Raleway;
}

.site {
	position: relative;
	padding-top: 173px;
	font-family: Raleway;
	margin: 0 4px;

	@media (min-width: $break-md) {
		margin: 0 10px;
	}

	@media (min-width: 1700px) {
		margin: 0 44px;
	}
}

.site-main {
	position: relative;
	//min-width: 1220px;
	margin: 0 0 44px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.site-main--index {
	background-color: $grey-bg;
	
	@media (min-width: $break-featured) {
		padding: 44px 0;
	}
}

.container {
	max-width: 1220px;
	margin: 0 auto;
}

.partners {
	height: 300px;
	margin: 0 0 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $grey-bg;
}