// --bg-color: #e9f3f4;
// --bg-color: #edf1f1;
// --bg-color: #f0f1f1;
$grey-bg: #eff5f5;

@font-face {
  font-family: 'HyperPunchPink';
  src: url('./fonts/HyperPunchPink.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Porceleina';
  src: url('./fonts/porceleina.otf');
}

@font-face {
  font-family: 'Sorreda Pro';
  src: url('./fonts/Sorreda_Pro.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
}

body {
	font-family: Raleway;
}

.site-main {
	z-index: 3;
	position: relative;
	min-width: 1220px;
	padding: 70px 0 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: $grey-bg;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
}

.posts {
	margin-left: 160px;
}