.featured
	z-index: 4
	position: relative
	height: 0
	padding-bottom: 60%
	background-color: white
	overflow: hidden

	&__item
		width: calc(50% - 2px)
		position: absolute
		height: calc(50% - 2px)
		//padding-bottom: 50%
		cursor: pointer

		&--1st
			left: 0

		&--4th
			bottom: 0
			right: 0

	&__item--2nd,
	&__item--3rd
		overflow: hidden

		> div
			height: 100%

	&__item--2nd
		right: 0

	&__item--3rd
		bottom: 0
		left: 0

@media (min-width: 960px)
	.featured
		padding-bottom: 20%

		&__item
			z-index: 1
			position: absolute
			top: 0
			height: 100%
			width: 30%
			padding-bottom: 0
			cursor: pointer

			&--1st
				left: 0

			&--4th
				right: 0

		&__item--2nd,
		&__item--3rd
			z-index: 2
			position: absolute
			top: 0
			height: 100%
			width: calc(25% + 4px)
			width: calc(25% + 8px)
			transform: skewX(-20deg)
			overflow: hidden

			> div
				height: 100%
				width: 132%
				transform: translateX(-12%) skewX(20deg)

		&__item--2nd
			border-left: 8px solid white
			border-right: 4px solid white
			left: calc(25% - 8px)

		&__item--3rd
			border-left: 4px solid white
			border-right: 8px solid white
			left: 50%

.featured-thumb
	position: relative
	height: 100%
	background-size: cover

	&-2 
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(img/IMG_4366.jpg)

	&-3 
		background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('img/IMG_2781.jpg')

	&-4 
		background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('img/thumb4.jpg')	

	&-5 
		background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('img/thumb3.jpg')

// Headings

.featured__item

	h4
		position: absolute
		bottom: 3%
		left: 3%
		margin: 0
		text-align: left
		line-height: 1.35
		font-size: 18px
		font-weight: 600
		color: white

@media (min-width: 650px)
	.featured__item
		h4
			max-width: 70%

@media (min-width: 960px)
	.featured__item

		h4
			position: absolute
			bottom: 15px
			max-width: 56%
			margin: 0
			text-align: left
			line-height: 1.35
			font-size: 18px
			font-weight: 600
			color: white

		&--1st h4
			left: 5%

		&--2nd h4
			left: 18%

		&--3rd h4
			left: 18%

		&--4th h4
			left: 25%