.site-header 
	position: fixed
	top: 0
	width: 100%
	height: 30vw
	background-image: url('./img/banner.jpg')
	background-image: url('./img/banner-light.jpg')
	background-image: url('./img/banner-fall.jpg')
	background-image: url('./img/banner-fuji.jpg')
	background-size: cover
	//background-position: left 110%
	background-position: center
	//background-attachment: fixed
	transform: rotateZ(0)

.site-header--position > div
	height: 30vw
	position: relative

.site-navigation
	padding-top: 2vw
	text-align: center

	span 
		display: inline-block
		padding: 7px 17px
		font-weight: medium
		letter-spacing: 1px
		font-weight: 600
		color: #e1e5e6
		font-size: 18px
		text-shadow: 0px 0px 20px rgb(170, 186, 124)
		//background-color: rgba(255, 255, 255, 0.29)
		border-radius: 3px
		cursor: pointer

	span + span 
		margin-left: 20px

.site-branding
	position: absolute
	top: 50%
	transform: translateY(-50%)
	width: 50%
	text-align: center

	.site-title
		font-family: 'Lily Script One'
		font-family: 'Dancing Script'
		margin: 0
		//font-size: 4.3em
		//transform: rotateZ(1.2deg)

		a 
			color: #2d2a31
			text-decoration: none
			font-size: 2em
			letter-spacing: 2.5px
			outline: 0
			text-shadow: 0px 0px 24px rgb(251, 245, 225)
			font-family: 'Dancing Script'
			font-family: 'HyperPunchPink', serif
			font-family: 'Porceleina', serif
			font-family: 'Sorreda Pro', serif

	.banner-text
		margin: 0
		font-size: 2em
		letter-spacing: 3px
		color: #303c14
		font-weight: bold
		text-shadow: 0px 0px 24px #fbf5e1
		font-family: 'Sorreda Pro', serif


.change-images
	position: absolute
	font-family: Arial
	font-size: 12px
	top: 25%
	left: -70px
	color: #000000
	transform: rotateZ(-270deg)

	> span 
		display: inline-block
		padding: 0 5px
		margin-right: 5px
		background-color: rgba(255,255,255,0.5)
		border-radius: 3px

		&:not(:first-of-type)
			transform: rotateZ(270deg)

		&:hover:not(:first-of-type)
			background-color: white
			cursor: pointer