.site-header
	position: relative
	z-index: 5
	padding-bottom: 30px
	background-color: white 

.site-navigation
	height: 70px
	padding-top: 30px
	text-align: center

	span 
		display: inline-block
		padding: 7px 17px
		letter-spacing: 1px
		color: #333
		font-size: 15px
		border-radius: 3px
		cursor: pointer

	span + span 
		margin-left: 20px

.site-branding
	height: 120px
	margin-top: 20px
	background: url('./img/logo.jpg') center / 50% auto no-repeat

.banner
	position: fixed
	top: 110px
	width: 100%
	height: calc(25vw + 140px)
	background-image: url('./img/banner.jpg')
	background-image: url('./img/banner-light.jpg')
	background-image: url('./img/banner-fall.jpg')
	background-image: url('./img/banner-fuji.jpg')
	background-size: cover
	//background-position: left 110%
	background-position: center 45%
	//background-attachment: fixed
	transform: rotateZ(0)

.banner--position > div
	height: 30vw
	position: relative

.banner-content
	opacity: 0

.change-images
	position: absolute
	font-family: Arial
	font-size: 12px
	top: 25%
	left: -70px
	color: #000000
	transform: rotateZ(-270deg)

	> span 
		display: inline-block
		padding: 0 5px
		margin-right: 5px
		background-color: rgba(255,255,255,0.5)
		border-radius: 3px

		&:not(:first-of-type)
			transform: rotateZ(270deg)

		&:hover:not(:first-of-type)
			background-color: white
			cursor: pointer