/* ------------------------------------
 *  LEFT SIDEBAR
 * --------------------------------- */

.left-sidebar {
	padding-left: 30px;
	color: #777;
	line-height: 2;
	z-index: 100;

	section {
		width: 210px;
	}

	section p {
		margin-top: 0;
		margin-bottom: 0;
		text-align: right;
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1.4px;
	}
}

.secondary-nav ul {
	list-style: none;
	padding-left: 20px;
	text-align: right;

	a {
		text-decoration: none;
	}
}

/* RUBRIKY */

.secondary-nav__rubriky {
	margin-bottom: 50px;

	li {
		position: relative;
		margin-bottom: 5px;

		a {
			position: relative;
			display: inline-block;
			color: #333;

			span {
				position: relative;
				z-index: 4;
				display: inline-block;
				padding: 4px 20px;
				line-height: 1.2;
				font-size: 18px;
				background-color: orangered;
				background-color: #fff;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

.secondary-nav__rubriky li a button {
	position: absolute;
	top: 0; right: 0;
	width: 29px;
	height: 29px;
	z-index: 3;
	margin: 0;
	padding: 0;
	border: 2px solid rgba(51, 51, 51, 0.51);	
	//background: #fff url('./img/Arrow_Forward.svg') center / 50% no-repeat;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.secondary-nav__rubriky li a:hover span {
	transform: translateX(-29px);
	transition: all 0.3s ease-in-out;
}

/* STITKY */

	.secondary-nav__tags {
		margin-bottom: 50px;
	}

	.secondary-nav__tags li {
		display: inline-block;
		transition: all 0.3s ease-in-out;

	}

	.secondary-nav__tags li a {
		position: relative;
		z-index: 2;
		padding: 3px 15px;

		color: #69b7c5;
		background-color: #f0f1f1;
		background-color: transparent;
		font-size: 16px;
		backface-visibility: hidden;
	}

	.secondary-nav__tags li a:hover::after {
		transform: scale(1.2) translateZ(0);
		transition: all 0.2s cubic-bezier(0.42, 0, 0.29, 2.01);
		z-index: -1;
	}

	.secondary-nav__tags li a:hover {
		z-index: 3;
	}

	.secondary-nav__tags li a::after {
		content: '';
		position: absolute;
		top: 0; left: 0;
		z-index: -2;
		width: 100%;
		height: 100%;
		background-color: #f0f1f1;
		border: 1px solid #76cede;
		transition: all 0.2s ease-in-out;
	}

/* SOCIAL MEDIA */
	ul.secondary-nav__social-media {
		padding-left: 0;
	}

	.secondary-nav__social-media li {
		margin-bottom: 10px;
	}

	.secondary-nav__social-media a {
		position: relative;
		overflow: hidden;
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		color: #fff;
		padding: 0 30px 0 0;
		border-radius: 3px;
		font-size: 13px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.7px;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.45);
		transition: all 0.1s ease-in-out;
	}

	.secondary-nav__social-media a:hover {
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
		width: auto;
		padding-left: 15px;
		transition: all 0.1s ease-in-out;
	}

	.secondary-nav__social-media li:first-of-type a {
		background-color: #c62326;
	}

	.secondary-nav__social-media li:nth-of-type(2) a {
		background-color: #3b5999;
	}

	.secondary-nav__social-media li:nth-of-type(3) a {
		background-color: #6a453b;
	}

	.secondary-nav__social-media li:nth-of-type(4) a {
		background-color: #ffce07;
	}

	.secondary-nav__social-media li:nth-of-type(5) a {
		background-color: #6bcfed;
	}

	.secondary-nav__social-media li:nth-of-type(6) a {
		background-color: #f132a6;
	}

	.secondary-nav__social-media li:nth-of-type(7) a {
		background-color: #de4c40;
	}


	.secondary-nav__social-media a i {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 30px;
		height: 30px;
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.secondary-nav__social-media li:first-of-type a i {
		background-image: url(img/youtube.svg);
	}

	.secondary-nav__social-media li:nth-of-type(2) a i {
		background-image: url(img/facebook.svg);
	}

	.secondary-nav__social-media li:nth-of-type(3) a i {
		background-image: url(img/instagram.svg);
	}

	.secondary-nav__social-media li:nth-of-type(4) a i {
		background-image: url(img/snapchat.svg);
	}

	.secondary-nav__social-media li:nth-of-type(5) a i {
		background-image: url(img/twitter.svg);
	}

	.secondary-nav__social-media li:nth-of-type(6) a i {
		background-color: #f132a6;
	}

	.secondary-nav__social-media li:nth-of-type(7) a i {
		background-image: url(img/google+.svg);
	}

	.secondary-nav__social-media li:first-of-type a i {
		background-color: #c62326;
	}

	.secondary-nav__social-media li:nth-of-type(2) a i {
		background-color: #3b5999;
	}

	.secondary-nav__social-media li:nth-of-type(3) a i {
		background-color: #6a453b;
	}

	.secondary-nav__social-media li:nth-of-type(4) a i {
		background-color: #ffce07;
	}

	.secondary-nav__social-media li:nth-of-type(5) a i {
		background-color: #6bcfed;
	}

	.secondary-nav__social-media li:nth-of-type(6) a i {
		background-color: #f132a6;
	}

	.secondary-nav__social-media li:nth-of-type(7) a i {
		background-color: #de4c40;
	}