

.social-following
	z-index: 6
	position: relative
	margin-top: 30vw
	background-color: #f1f1f1
	//background-color: #ebecf7
	//background-color: #f2f3fb

	> .container
		text-align: center
		position: relative
		padding: 4px 0

.promo-social
	display: inline-block
	padding: 10px 10px 10px 25px
	font-size: 11px
	font-family: Verdana
	background-repeat: no-repeat
	color: #8c8c8c !important
	font-weight: 500

	+ .promo-social
		margin-left: 5.5vw

	&-fb 
		background-image: url('./img/facebook2.svg')
		background-size: 24px auto
		background-position: left 1px
		color: #3c5a99

	&-youtube
		background-image: url('./img/youtube2.svg')
		background-size: 24px auto
		background-position: left center
		color: #d42927

	&-insta
		background-image: url('./img/instagram2.svg')
		background-size: 26px auto
		background-position: left 1px
		color: #994e9a

	&-snapchat
		background-image: url('./img/snapchat2.svg')
		background-size: 14px auto
		background-position: left center
		color: #f3d904